.downloadapp {
	height: 0;
	overflow: hidden;
}

.downloadapp>div {
	height: 100%;
}

.downloadapp table {
	width:100%;
}

.downloadapp a {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-shadow: 0 0;
}

.downloadapp span {
	color: white;
	text-shadow: 0 0;
}

.downloadapp .adclose {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}