.downloadapp {
	height: 0;
	overflow: hidden;
}

.downloadapp>div {
	background-color: #343434;
	height: 100%;
}

.downloadapp table {
	padding:5px 40px 5px 10px;
}

.downloadapp a {
	width: 125px;
	display: table-cell;
	background-color: #efefef;
	border-radius: 10px;
	height: 40px;
	color: #333;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.downloadapp span {
	color: white;
	text-shadow: 0 0;
}

.downloadapp .adclose {
	background-image: url(https://rawgit.com/tooto1985/project-ja/master/adclose.png);
	position: absolute;
	top: 0;
	width: 36px;
	height: 36px;
	right: 0;
	cursor: pointer;
}